<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Custom styles for this template -->
	<link href="css/register.css" rel="stylesheet">
  
	<title>TinyApp</title>
</head>
<body>
	<%- include('partials/_header') %>
  <main style="margin: 1em;">
		<form class="form-signin" method="POST" action="/register">
      <div style="margin-top: 5%; text-align: center;">
				<img class="mb-4" src="/images/brand.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" style="text-align: center; padding-bottom: 20%;">tinyapp</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10%;">Register</button>
			<div class="alert alert-primary" style="margin-top: 5%; text-align: center;">
				<a href="/login">Log in using existing account</a>
			</div>
    </form>
  </main>
  <%- include('partials/_footer') %>
</body>
</html>